<h1>Login Page</h1>
<form action="post" id="loginForm">
  <label for="username">
    Enter Username:
    <input type="text" id="username">
  </label>
  <label for="password">
    Enter Password:
    <input type="text" id="password">
  </label>
</form>