<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../public/css/main.css">
        <title>{{data.title}}</title>
    </head>
    <body>
        <header>
            <h1><a href="/" ><img src="../../public/logo.png" alt="Odjob Logo" class="logo"></a></h1>
            {{!-- this will have different text depending whether user is logged in or not --}}
            <h2 class="to-prof">
            {{#if data.logged.uname}}
                <a id="to-profile" href="/profile/account">{{data.logged.uname}}</a>
            {{else}}
                <a href="/users/signin">Sign In</a>
            {{/if}}
            </h2>
        </header>
        {{{body}}}
    </body>
</html>