<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--    <link rel="stylesheet" href="../../public/css/main.css">-->
    <link rel="stylesheet" href="../../public/css/profile.css">
    <title>{{title}}</title>
</head>
<body>
<div class="sidenav">
    <h2>Hi, {{username}}!</h2>
    <a href="/profile/account">Account</a>
    <a href="/profile/postjob">Post a Job</a>
    <a href="/profile/reviews">My Reviews</a>
    <a href="/profile/activejobs">My Active Jobs</a>
    <a href="/profile/inprogressjobs">My In-Progress Jobs</a>
    <a href="/profile/completedjobs">My Completed Jobs</a>
</div>
{{{body}}}
</body>
</html>