label {
  font-weight: bold;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  padding-bottom: 20px;
}

/* Control the right side */
.right {
  right: 0;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -0%);
  /* text-align: center; */
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

.newJobContainer {
  padding-bottom: 28px;
}

.revieweeName{
  font-weight: bold;
}