* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* establish basic header format */
header {
  background-color: #307e47;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header h1 {
  font-size: 40px;
  margin-left: 15px;
  margin-top: 5%;
  margin-bottom: 5%;
}

header a {
  text-align: right;
  margin-right: 20px;
  font-size: 18px;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
}

/* making user page slightly better */
#user-info {
  grid-area: 1 / 1 / 2 / 2;
}

#reviews-of-user {
  grid-area: 1 / 2 / last-line / 3;
}

#user-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

main {
  margin-top: 15px;
  margin-left: 15px;
}

label {
  font-weight: bold;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

#profile-pic {
  height: 150px;
  width: 150px;
}

/* Control the left side */
.left {
  left: 0;
  padding-bottom: 20px;
}

/* Control the right side */
.right {
  right: 0;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -0%);
  /* text-align: center; */
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

.newJobContainer {
  padding-bottom: 28px;
}

.revieweeName{
  font-weight: bold;
}